body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px !important;
  font-weight: 500;
  
}

.react-datepicker {
  border: none;
  border-radius: 0.5rem;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
  padding: 5px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-datepicker__header__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #2B3674;
  font-size: 1rem; /* Aumenta o tamanho do texto */
  font-weight: 600; /* Torna o texto mais bold */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--today {
  background-color: #2B3674;
  color: white;
  border-radius: 9999px; /* Full rounded */
}

.react-datepicker__day--highlighted {
  background-color: #7B8794;
  color: white;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 1rem;
}

.react-datepicker__navigation--previous {
  border-right-color: #2B3674;
}

.react-datepicker__navigation--next {
  border-left-color: #2B3674;
}

.react-datepicker__month {
  margin: 0;
  padding: 0;
}

.react-datepicker__header__dropdown {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container {
  display: flex;
  align-items: center;
}

.react-datepicker__month-dropdown-container select,
.react-datepicker__year-dropdown-container select {
  background-color: #F4F7FE;
  border: none;
  border-radius: 9999px; /* Full rounded */
  padding: 0.5rem 1rem; /* Aumenta o tamanho do padding */
  outline: none;
  text-align: center;
  color: #2B3674;
  font-weight: bold;
  font-size: 1rem; /* Aumenta o tamanho do texto */
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  gap: 0.7rem; /* Aumenta o espaçamento entre os dias */
}
